@charset "UTF-8";
*{margin: 0; padding: 0;}
ul, ol{list-style: none;}
a{color: #000; text-decoration: none;}

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    line-height: 26px;
    min-width: 1500px;
}

/* header/banner */
#header_wrap{
    height: 685px;
    position: relative;
    overflow: hidden;
}
.header{
    background-color: rgb(0, 0, 0, 0.57);
    width: 100%;
    height: 63px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}
.header_margin{
    width: 1320px;
    margin: 0 auto;
}
.logo{
    float: left;
    margin-top: 13px;
}
.gnb{
    float: right;
}
.gnb li{
    float: left;
}
.gnb li a{
    display: block;
    color: rgb(255, 255, 255, 0.5);
    margin: 20px 15px 0 15px;
    padding: 10px 15px 0 15px;
}
.gnb li.on a, .gnb li a:hover{
    color: #fff;
}
.banner_wrap{
    height: 685px;
    background: url(../images/sub_02/bg.jpg) no-repeat top center;
    text-align: center;
}
.title{
    font-size: 90px;
    font-weight: 400;
    color: #fff;
    padding-top: 300px;
}


/* container */
#container{
    width: 900px;
    height: 5208px;
    margin: 0 auto;
}


/* footer */
#footer_wrap{
    height: 308px;
    background-color: #000;
    margin-top: 200px;
}
.footer{
    width: 1320px;
    margin: 0 auto;
    padding-top: 50px;
    color: #fff;
    position: relative;
    font-size: 16px;
}
.vertical_logo{
    float: left;
}
.footer_text{
    float: left;
    padding-left: 150px;
    
}
.footer_gnb{
    height: 30px;
}
.footer_gnb li{
    float: left;
}
.footer_gnb li a{
    display: block;
    margin-right: 130px;
    opacity: 0.6;
}
.footer_gnb li a:hover{
    opacity: 1;
}
.footer_util{
    clear: both;
    height: 30px;
    box-sizing: border-box;
    margin-top: 25px;
}
.footer_util li{
    float: left;
}
.footer_util li a{
    display: block;
    margin-right: 80px;
    opacity: 0.6;
}
.footer_util li a:hover{
    opacity: 1;
    border-bottom: 1px solid #fff;
}
.footer_text2{
    clear: both;
}
.footer_text2 li{
    float: left;
    margin: 35px 163px 0 0;
    font-size: 12px;
    font-weight: 300;
    opacity: 0.6;
}
.footer_text2 li:nth-child(2){
    margin: 35px 0;
}
.footer_text ul li a{
    display: block;
    color: #fff;
}
.footer_icon{
    position: absolute;
    top: 50px;
    right: 0;
}
.footer_icon li{
    float: left;
}
.footer_icon li a{
    display: block;
    margin-left: 10px;
    opacity: 0.5;
}
.footer_icon li a:hover{
    opacity: 1;
}


/* back btn */
.back_btn {
    width: 96px;
    height: 96px;
    background-color: #000;
    border-radius: 250px;
    padding-top: 35px;
    box-sizing: border-box;
    position: fixed;
    right: 80px;
    bottom: 140px;
    text-align: center;
    z-index: 9;
}
.back_btn a{
    display: block;
    color: #fff;
    font-size: 25px;
}


/* top btn */
.top_btn {
    width: 96px;
    height: 96px;
    background-color: #000;
    border-radius: 250px;
    padding-top: 35px;
    box-sizing: border-box;
    position: fixed;
    right: 80px;
    bottom: 30px;
    text-align: center;
}
.top_btn a{
    display: block;
    color: #fff;
    font-size: 25px;
}